header{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    background: var(--background-blanco);
}
.header-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.header-boton-login {
    background: var(--background-blanco);
    color: var(--fuente-enlace);
    border: 1px solid var(--fuente-enlace);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 11.58rem;
    font-size: 16px;
    height: 2rem
}
.boton-buscar {
    height: 2.3rem;
}
   
.header-searchbar{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 16rem;
}

.barra-busqueda{ 
        border: none;
        padding: 10px;
        border-radius: 20px;
        outline: none;
        max-width: 100%;
        position: absolute;
        height: 2rem
}
.barra-busqueda::placeholder{
    color: var(--fuente-oscuro-50);
}

