.products{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.products-seccion{
   max-width: 100%;
}
.products-titulos{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.products-galeria{
    display: flex;
    gap: 1rem;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    overflow: hidden;
}
.products-ficha{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.products-ficha h2{
    font-size: 0.7rem;
    font-weight:lighter;
}
.products-ficha img{
    height: 5rem;
    width: 6rem;

}

